<div class="app-wrapper">
  <header class="main-header">
    <div class="header-content">
      <span class="brand">Desafio Tech Solutio</span>

      <button *ngIf="isLoggedIn()" class="btn-logout-header" (click)="logout()">
        Sair
      </button>
    </div>
  </header>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>

  <footer class="main-footer">
    <p>
      Código disponível no
      <a href="https://github.com/ViniciusAlves03/desafio_tech_solutio" target="_blank" rel="noopener noreferrer">
        GitHub
      </a>
    </p>
  </footer>
</div>

<div class="modal-overlay" *ngIf="viewSrv.display()">
  <div class="modal-card view-card product-detail-modal">
    <button class="close-btn" (click)="viewSrv.close()" aria-label="Fechar">×</button>

    <h3>Detalhes do Produto</h3>

    <div class="product-info-layout" *ngIf="viewSrv.product() as p">
      <div class="image-column">
        <div class="img-wrapper" *ngIf="p.imageUrl; else noImage">
          <img [src]="p.imageUrl" [alt]="p.name">
        </div>
        <ng-template #noImage>
          <div class="no-image-placeholder">
            <span>Sem Imagem</span>
          </div>
        </ng-template>
      </div>

      <div class="details-column">
        <dl class="details-list">
          <div class="detail-item main-item">
            <dt>Produto</dt>
            <dd class="product-name">{{ p.name }}</dd>
          </div>

          <div class="detail-group">
            <div class="detail-item">
              <dt>Marca</dt>
              <dd>{{ p.brand }}</dd>
            </div>

            <div class="detail-item" *ngIf="p.quantity !== null && p.quantity !== undefined">
              <dt>Quantidade</dt>
              <dd>{{ p.quantity }} unidades</dd>
            </div>
          </div>

          <div class="detail-item price-item">
            <dt>Preço</dt>
            <dd class="price">{{ p.price | currency:'BRL' }}</dd>
          </div>
        </dl>
      </div>
    </div>

    <div class="modal-actions">
      <button class="btn-cancel" (click)="viewSrv.close()">Fechar</button>
    </div>
  </div>
</div>

<div class="modal-overlay" *ngIf="confirmSrv.display()">
  <div class="modal-card">
    <h3>Confirmação</h3>
    <p>{{ confirmSrv.message }}</p>
    <div class="modal-actions">
      <button class="btn-cancel" (click)="confirmSrv.close()">Não</button>
      <button class="btn-confirm" (click)="confirmSrv.confirm()">Sim, Excluir</button>
    </div>
  </div>
</div>

<div *ngIf="notify.notification() as n" class="toast-container" [ngClass]="n.type">
  {{ n.message }}
</div>
